<div class="container mt-5">
  <h1 class="display-1 text-center"><strong><%= @report.title %></strong></h1>
  <h2 class="display-5"><em>Author: <%= @report.user.first_name %> <%= @report.user.last_name %> (<%= @report.user.email %>)</em></h2>
  <h3 class="display-6"><%= @report.desc %></h3>
</div>
